div{
	height: 200px;
	width: 200px;
	position: static;
}
body{
	margin: 0px;
	padding: 0px;
}
#pink{
	background-color: #ee3e64;
}
#blue{
	background-color: #2E7DD9;
}
#green{
	background-color: #b7d84b;
}